@import 'tailwindcss';

* {
  box-sizing: border-box;
  color: yellow;
}

[data-theme='dark'] .btn {
  background: #4a5568 !important;
  color: white !important;
  border-color: #4a5568 !important;
}

[data-theme='light'] .btn {
  background: #48bb78 !important;
  color: black !important;
  border-color: #48bb78 !important;
}

[data-theme='dark'] .container {
  background: #000000 !important;
}

[data-theme='light'] .container {
  background: #2f855d !important;
}
